/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
footer {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

h2 {
  font-size: 4rem;
  color: chocolate;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
}

.container2 {
  max-width: 1000px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  margin: 0 auto;
  width: 100%;
  border: 2px solid #051749;
  padding: 3rem;
  height: 50vh;
  position: relative;
  margin-bottom: 5rem;
}

.container2:hover .cube1 {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cube1 {
  position: relative;
}

.cube1 .top {
  background: rebeccapurple;
  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg);
}

.cube1 .left {
  background: blueviolet;
  -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
          transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.cube1 .right {
  background: blue;
  -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
          transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.side {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;
  bottom: 10rem;
}

@-webkit-keyframes slide {
  0% {
    left: 100px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: 700px;
  }
}

@keyframes slide {
  0% {
    left: 100px;
  }
  50% {
    left: 400px;
  }
  100% {
    left: 700px;
  }
}

.container1 {
  max-width: 1000px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  margin: 0 auto;
  width: 100%;
  border: 2px solid black;
  padding: 3rem 2rem;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-perspective-origin: 50% 100px;
          perspective-origin: 50% 100px;
  height: 60vh;
  margin-bottom: 5rem;
}

.container1:hover .cube2 {
  -webkit-animation: slide 7s linear infinite;
          animation: slide 7s linear infinite;
}

.cube2 {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotate3d(0, 0, 0, 45deg);
          transform: rotate3d(0, 0, 0, 45deg);
}

.cube2 .face {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  border: 2px solid black;
  position: absolute;
  opacity: 0.8;
}

.cube2 .front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.cube2 .back {
  -webkit-transform: translateZ(-50px) rotateY(180deg);
          transform: translateZ(-50px) rotateY(180deg);
}

.cube2 .left {
  -webkit-transform: translateX(-50px) rotateY(-90deg);
          transform: translateX(-50px) rotateY(-90deg);
}

.cube2 .right {
  -webkit-transform: translateX(50px) rotateY(90deg);
          transform: translateX(50px) rotateY(90deg);
}

.cube2 .top {
  -webkit-transform: translateY(-50px) rotateX(90deg);
          transform: translateY(-50px) rotateX(90deg);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0fd850), to(#f9f047));
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

.cube2 .bottom {
  -webkit-transform: translateY(50px) rotateX(-90deg);
          transform: translateY(50px) rotateX(-90deg);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#50cc7f), to(#f5d100));
  background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
}

@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate3d(0, 0, 0, 0);
            transform: rotate3d(0, 0, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
            transform: rotate3d(1, 1, 0, 360deg);
  }
}
/*# sourceMappingURL=style.css.map */